src/data/Eventos.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <xs:element name="Eventos">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="Evento">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="SistemaOrigem" type="xs:integer"></xs:element>
                                             <xs:element name="CodigoEvento" type="xs:string"></xs:element>
                                             <xs:element name="DataCompetencia">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Dia" type="xs:integer"></xs:element>
                                                               <xs:element name="Mes" type="xs:integer"></xs:element>
                                                               <xs:element name="Ano" type="xs:integer"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="Datas">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Data">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Tipo" type="xs:integer"></xs:element>
                                                                                 <xs:element name="Dia" type="xs:integer"></xs:element>
                                                                                 <xs:element name="Mes" type="xs:integer"></xs:element>
                                                                                 <xs:element name="Ano" type="xs:integer"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="Documentos">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Apolice">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Numero" type="xs:integer"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Deposito">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Numero" type="xs:integer"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Endosso">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Numero" type="xs:integer"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="OrdemPagamento">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Numero" type="xs:integer"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Projeto">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Numero" type="xs:integer"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Sinistro">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Numero" type="xs:integer"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="Entidades">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Cliente">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Nome" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Corretor">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="SUSEP" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="SeguradoraExterna">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Codigo" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Empresa">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Codigo" type="xs:integer"></xs:element>
                                                                                 <xs:element name="Departamento">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="Codigo" type="xs:integer"></xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                                 <xs:element name="Local">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="Codigo" type="xs:integer"></xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                                 <xs:element name="ModalidadeRamo">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="Codigo" type="xs:integer"></xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                                 <xs:element name="Ramo">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="Codigo" type="xs:integer"></xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                                 <xs:element name="Sucursal">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="CaracteristicaEntidade" type="xs:string"></xs:element>
                                                                                                   <xs:element name="Codigo" type="xs:integer"></xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="EntidadeBancaria">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Codigo" type="xs:integer"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="Fornecedor">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="Nome" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="Valores">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Valor">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="CaracteristicaValor" type="xs:string"></xs:element>
                                                                                 <xs:element name="Valor" type="xs:decimal"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="ChavePrimariaOrigem" type="xs:string"></xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>
 